node_modules
package-lock.json
.env
resources
requests
server/src/bankstatementParser/examplePdfs
server/fly.toml
server/.dockerignore
server/Dockerfile
server/dist
client/dist/index.html
client/dist/index.html
client/dist